.work-conatiner h1{
    margin-left: 30px;
}
  .project-card {
    display: flex;
    align-items: center;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    padding: 1.2rem 1rem;
    margin: 10px;
  }
  .card-link{
    width:2000px ;
    /* background-color: #bfbfbf; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }
  .card-link:hover{
    /* background-color: rgb(177, 177, 177); */
    transform: scale(1.2);
    transition-duration: 0.5s;
  }
  
  .project-card img {
    width: 90%;
    /* height: 90%; */
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: #4a4747;
  }
  .project-card img:hover{
    border-color: rgb(0, 174, 255);
  }
  
  .writing-part {
    padding-left: 1rem;
    color: black;
    margin-left: 60px;
  }
  
  .description {
    color: black;
  }
  .pro-btn .btn{
    padding: 0.5rem 1rem;
}
.btn{
    font-size: larger;
    text-decoration: none;
    color: rgb(0, 55, 255);
}
.btn:hover{
    color: rgb(0, 0, 0);
}
  
  .project-card:nth-child(even) img {
    background-color: #eaf1fb;
  }
  
  .project-card:nth-child(odd) img {
    background-color: #f8e6e6;
  }
  
  @media screen and (max-width: 740px) {
    .project-card {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .project-card img {
      width: 100%;
    }
  
    .writing-part {
      width: 100%;
      padding-left: 0;
      margin-top: 1rem;
    }
  }